.waveformGrid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  grid-gap: 10px;
  width: 30%;
  margin: 0 auto;
}

.waveformGrid > button svg {
  fill-opacity: 0;
  stroke: #000;
  stroke-width: 5px;
  width: 100%;
  height: auto;
}

.waveformGrid > button {
  border-radius: 5px;
  padding: 10px;
}
