:root {
  --white-color: #ffffff;
  --black-color: #000000;
}

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
  font-variant-caps: all-small-caps;
  color: var(--white-color);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
